extends layout 

block content 
    div(class="container")
      form(method='post', action='/login')
         label Usuario 
         input(type='text', name='username',placeholder='Usuario',class='form-control')
         label Contraseña
         input(type='password', name='password',placeholder='Contraseña',class='form-control')
         input(type="submit", class='btn btn-primary', value="Ingresar")